@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x-DF02iFML4hGCyMqlbS1miXK2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: var(--page-width);
  margin: 0 auto;
  background: var(--page-background);
  font-family: var(--paragraph-font);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-lineheight);
  letter-spacing: var(--paragraph-letterspacing);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--heading-lineheight);
  letter-spacing: var(--heading-letterspacing);
  text-transform: var(--heading-text-transform);
  margin: 0;
  color: var(--heading-color);
}
h2, .h2 {
  font-size: calc(var(--heading-font-size) * 0.8);
}
h2.large {
  font-size: calc(var(--heading-font-size) * 1.2);
}
h3, .h3 {
  font-size: calc(var(--heading-font-size) * 0.6);
}
h4, .h4 {
  font-size: calc(var(--heading-font-size) * 0.4);
}
h5, .h5 {
  font-size: calc(var(--heading-font-size) * 0.2);
}
h6, .h6 {
  font-size: calc(var(--heading-font-size) * 0.5);
}
.subheading {
  font-family: var(--subheading-font);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  font-size: var(--subheading-font-size);
  line-height: var(--subheading-lineheight);
  letter-spacing: var(--subheading-letterspacing);
  text-transform: var(--subheading-text-transform);
  color: var(--subheading-color);
}
p {
  font-family: var(--paragraph-font);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-lineheight);
  letter-spacing: var(--paragraph-letterspacing);
  text-transform: var(--paragraph-text-transform);
  color: var(--paragraph-color);
}
.shopify-section {
  padding: var(--section-padding)
}
.active .down-arrow {
  display: none;
}
.active .up-arrow {
  display: block !important;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  z-index: 100;
}

.skip-link:focus {
  top: 10px;
}
.font-urbanist {
   font-family: 'Urbanist';
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-tertiary {
  color: var(--tertiary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary, .hover\:bg-secondary:hover {
  background-color: var(--secondary-color);
}
.bg-tertiary {
  background-color: var(--tertiary-color);
}
.product-card:hover .product-image img:last-of-type {
  opacity: 1;
}
.button, button.shopify-payment-button__button {
  font-family: var(--btn-font-family);
  font-style: var(--btn-font-style);
  font-weight: var(--btn-font-weight);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letter-spacing);
  text-transform: var(--btn-text-transform);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;
  white-space: nowrap;
  word-break: break-word;
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
}
.btn-extrasmall {
  font-size: 16px;
  padding: 10px 12px;
}
.btn-small {
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-large {
  font-size: calc(var(--btn-font-size)* 1.4);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.primary-btn {
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color);
  border-color: var(--primary-btn-border-color);
}
.primary-btn:hover {
  background-color: var(--primary-btn-hover-bg-color);
  color: var(--primary-btn-hover-text-color);
  border-color: var(--primary-btn-hover-border-color);
}
.secondary-btn, button.shopify-payment-button__button {
  background-color: var(--secondary-btn-bg-color);
  color: var(--secondary-btn-text-color);
  border-color: var(--secondary-btn-border-color);
}
.secondary-btn:hover, button.shopify-payment-button__button:hover {
  background-color: var(--secondary-btn-hover-bg-color) !important;
  color: var(--secondary-btn-hover-text-color);
  border-color: var(--secondary-btn-hover-border-color);
}
.tertiary-btn {
  background-color: var(--tertiary-btn-bg-color);
  color: var(--tertiary-btn-text-color);
  border-color: var(--tertiary-btn-border-color);
}
.tertiary-btn:hover {
  background-color: var(--tertiary-btn-hover-bg-color) !important;
  color: var(--tertiary-btn-hover-text-color);
  border-color: var(--tertiary-btn-hover-border-color);
}
.cart-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000000;
}
.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.icon-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.quick-modal {
  display: block !important;
  transition: transform 0.4s ease;
  transform: translateX(calc(100% - 360px));
}
.quick-modal.hidden{
  transform: translateX(100%);
}
.modalbg:has(.quick-modal)::before {
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modalbg:has(.quick-modal.hidden)::before {
  content: none;
}
.text-gray {
  color: #50534B;
}
.bg-graylight {
  background-color: #EEF1EC;
}
.shopify-challenge__container{
  padding-top: 70px;
  padding-bottom: 70px;
}
.shopify-challenge__button{
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color);
  border-color: var(--primary-btn-border-color);
  width: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.color-filter input[type="checkbox"]:checked + .color-swatch, .color-btn.selected-btn,
.color-filter input[type="checkbox"]:focus + .color-swatch {
  outline: 1.5px solid #000;
  outline-offset: 1px;
}
.color-btn.selected-btn {
  background-color: transparent;
}
.opened .show_filter {
  display: none;
}
.opened .hide_filter {
  display: flex;
}
* {
  outline-offset: 5px;
}
.custom-select {
  padding-right: 2rem;
  background: none;
}
.custom-arrow {
  font-size: 0.75rem;
  pointer-events: none;
}
.custom-select::-ms-expand {
  display: none;
}
@media (max-width: 640px) {
  .button, .shopify-payment-button__button {
    font-size: calc(var(--btn-font-size) * 0.75) !important;
  }
}
.variant-list span.price, .variant-list p.price {
  font-family: var(--subheading-font);
  display: none;
}
.variant-list .price.show {
  display: flex;
}
.article_banner span {
  color: #fff !important;
}
.blog_content h1, .blog_content h2, .blog_content h3, .blog_content h4, .blog_content h5, .blog_content h6 {
  margin-bottom: 10px;
}
.blog_content p {
  margin-bottom: 30px;
}
.shopify-payment-button__button {
  padding-right: 40px !important;
  position: relative;
}
.shopify-payment-button__button:after {
  content: url(icon-arrow-right.svg);
  position: absolute;
  right: 16px;
  top: 12px;
}
.shopify-payment-button__button:hover:after {
  content: url(icon-arrow-right-white.svg);
}
.card-space,
.slick-track,
.responsive {
  gap: var(--gap-between-cards);
}

@media (max-width: 640px){
  .quick-modal {
    transform: none;
  }
  h2.large {
    font-size: calc(var(--heading-font-size) * 0.8);
  }
}
{% if settings.layout_style == 'detached' %}
.slider-space {
  width: calc(100% + 32px);
  left: -16px;
}
{% else %}
.slider-space {
  width: 100%;
  left: 0px;
}
{% endif %}
.slider-column-space {
  width: calc(100% + 24px);
  left: -18px;
  @media(min-width: 768px) {
    left: -24px;
  }
}
.cartQuantity {
  padding: 8px 16px;
  width: 91px;
}

.richtext a {
  text-decoration: underline;
}
.richtext ol, .richtext ul {
  list-style: revert-layer;
  /* margin-left: 1.5rem; */
  padding-left: 1.5rem;
}
.truncate-all * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tagline {
  font-family: var(--tagline-font);
  font-size: var(--tagline-font-size);
  letter-spacing: var(--tagline-letterspacing);
  text-transform: var(--tagline-text-transform);
  line-height: var(--tagline-lineheight);
  font-style: var(--tagline-font-style);
  font-weight: 600;
  color: var(--tagline-color);
}
.slick-dots {
  bottom: -40px !important;
}
.cart-quantity-control .quantity-small {
  padding: 4px 7px;
  width: 72px;
}
.z-5 {
  z-index: 5;
}
.group:hover .group-hover\:bg-secondary {
  background-color: var(--secondary-color);
}