<div class="page-404 text-center my-10">
  <h1>Page not found</h1>
  <p class="mt-4 mb-8">The page you were looking for doesnt exist.<br/>You may have mistyped the address or the page may have moved.</p>
  <a href="{{ routes.root_url }}" role="button" class="w-max mx-auto button primary-btn btn-medium">Continue Shopping</a>
</div>
